div.dt-button-collection {
    width: 190px;
}

div.dt-button-collection button.dt-button.active:not(.disabled) {
    background: transparent;
    border: none;
    font-weight: 700;
    box-shadow: none;
}

div.dt-button-collection button.dt-button.active:not(.disabled):hover {
    background: transparent;
    border: none;
    box-shadow: none;
}

div.dt-button-collection button.dt-button.active:not(.disabled)::before {
    content: '\2713';
    margin-right: 10px;
}

div.dt-button-collection button.dt-button {
    padding: 0;
    background: transparent;
    border: none;
    text-align: left;
}

div.dt-button-collection button.dt-button:hover {
    background: transparent;
    border: none;
}

div.dt-button-collection {
    height: fit-content !important;
    overflow-y: auto !important;
    left: 120px !important;
}

div.dt-buttons {
    float: right;
}

div.dt-buttons .dt-button {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
}

div.dt-buttons .dt-button:hover {
    background-color: #007bff;
}

div.dt-buttons .dt-button span {
    color: black;
}
