.user{
    width: 70px;
}
.desc{
    background-color: rgb(63, 159, 223);
    color: white;
    width: 90px;
    padding: 3px;
    border-radius: 5px;
    font-weight: 500;
}
.contact{
    width: 70px;
}
.property{
    width: 130px;
}
.price{
    width: 90px;
}